/* Author: Alyna Thibault
Date: 2/07/2024
File Name: styles.css
*/

/* CSS Reset */
body, div, header, nav, main, footer{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and div image*/
body {
    background-color: #EEF0E5;
} 

div professional {
    align-content: center;
    max-width: 100%;
    display: block;
}

/* Style rule for header */
header {
    width: 25%;
    float: left;
    text-align: center;
    color: #B6C4B6;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding-top: 3em;
}

/* Style rule for navigation */
nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
    padding-bottom: 2em
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #B6C4B6;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    clear: left;
    background-color: #EEF0E5;
    padding: 2%;
    font-size: 1.25em;
    color: #304D30;
}

/* Style rules for about content */
#about {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    color: #304D30;
    text-decoration: none;
}

#about h1 {
    text-align: center;
    color: #304D30;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

#about h2 {
    text-align: center;
    color: #304D30;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

/* Style rules for contact content */
#contact {
    text-align: center;
}

#contact a {
    color: #B6C4B6;
    text-decoration: none;
}

.map {
    border: 8px solid #000;
}

/* Style rules for footer content*/
footer p {
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: #B6C4B6;
    padding: 0 1em;
}

footer p a {
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    color: #B6C4B6;
    text-decoration: none;
}